<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <!--测试库168-->
    <!--address;username;password-->
    <add name="FtpConnection" connectionString="Eu4dJXHh0oa8TjqCBj8nyYhQVP1i0jYUk7G0VuvkVaM="/>
    <!--<add name="FtpConnection" connectionString="Eimar0KDSuOPaydF3vrLPnf4/eO6JNkxjJkgoUnEMho0alS45bZ61LQ1D1m2I5n0cP4rVIFRP+JGLGjbGEdeIIZnz2j8Tat/sqgKWl6OXyCHeZSnsOp2nL1EVHJTwdQnQMQklD/P490nr01X1BS5/z/hefCmLEZ/sRn+1uTGBhxj/hyJ8X3AS09qqe5AdlOKLBshZEhK/jIU94/A1SWyUDL8hIm0aE0o/sVykXXi3k77YQiXlongvA=="/>-->
    <!--正式库-->
     <!--<add name="FtpConnection" connectionString="rH/Fe1caPsIsr3SU1osQVXLIssigL+JGJCowpAqOgJpaMt/N+1LHxA=="/>--> 
  </connectionStrings>
  <userSettings>
    <AutoUpdate.Properties.Settings>
      <setting name="ThemeColor" serializeAs="String">
        <value>MenuHighlight</value>
      </setting>
    </AutoUpdate.Properties.Settings>
  </userSettings>
</configuration>
